
body{font-family: 'Poppins', sans-serif;background-color:greenyellow}

.container{width:300px;border:1px solid black;
            border-radius:20px;
            padding:150px;margin:auto;
            background-image:linear-gradient(50deg, black,blue, transparent)
            }
.header{ font-size:34px;color:white;
         padding-bottom:20px; margin-left:40px;}

.content{margin:1px solid black;padding:15px;
          border-radius:5px;padding-right: 160px;
        }
 .label{color:white;font-size:20px;
        padding-top:10px}
        
.contentp{margin:1px solid black;
         padding:0,20px;text-align: center;font-size:24px;
         border-radius: 22px 1px;background-image: linear-gradient(45deg,black,blue);
         padding: 10px; color:white}